@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/NotoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-ExtraBold.woff2') format('woff2'),
        url('/fonts/NotoSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Bold.woff2') format('woff2'),
        url('/fonts/NotoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Black.woff2') format('woff2'),
        url('/fonts/NotoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-BlackItalic.woff2') format('woff2'),
        url('/fonts/NotoSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-ExtraLight.woff2') format('woff2'),
        url('/fonts/NotoSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Italic.woff2') format('woff2'),
        url('/fonts/NotoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/NotoSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Light.woff2') format('woff2'),
        url('/fonts/NotoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/NotoSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-LightItalic.woff2') format('woff2'),
        url('/fonts/NotoSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-SemiBold.woff2') format('woff2'),
        url('/fonts/NotoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Regular.woff2') format('woff2'),
        url('/fonts/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts//NotoSans-Medium.woff2') format('woff2'),
        url('/fonts/NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-MediumItalic.woff2') format('woff2'),
        url('/fonts/NotoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/NotoSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #dbe3e7;

    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    letter-spacing: -0.5px;

    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: minmax(260px, 300px) 4fr;
    grid-template-rows: 1fr 5fr;
}

.left-container {
    grid-column: 1;
    grid-row: span 2;
    
    display: flex;
    flex-direction: column;
    gap: 4rem;

    background-color: rgb(8, 155, 223);
    padding: 1rem;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-pair, .logo-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.nav-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    margin: 0.8rem 0;
}

.logo-pair img {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}
.logo-pair p {
    font-size: 1.8rem;
}

.nav-container {
    margin-top: 2rem;
}

.nav-pair img {
    width: 28px;
    height: 28px;
    filter: invert(100%);
}



.top-container {
    grid-column: 2 / -1;
    grid-row: span 1;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    column-gap: 2rem;
    row-gap: 1.8rem;

    box-sizing: border-box;
    padding: 1rem 3rem;
    box-shadow:  0px -10px 30px #bebebe;
    background-color: white;
}

.top-container .icon {
    width: 32px;
    height: 32px;
}

.search-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.search-bar {
    width: 100%;
    height: 38px;
    border-radius: 32px;
    background: rgb(225, 230, 230);
    border: none;

    box-sizing: border-box;
    padding: 0 1rem;
    font-size: 1rem;
}

input:focus {
    outline: 2px solid rgb(207, 214, 214);
}

.user-mini {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

    font-size: 1.2rem;
    font-weight: bold;
    justify-content: right;
}

.user-avatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}


.greeting-container {
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    font-size: 1rem;
    font-weight: bold;
    justify-content: start;
}

#large-avatar {
    width: 84px;
    height: 84px;
    background-color: rgb(132, 136, 139);
    border-radius: 50%;
}

img.user-avatar {
    object-fit: cover;
    object-position: left;
    border: none;
    outline: none;
}

.greeting-text {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.greeting-container .username {
    font-size: 1.6rem;
}


.quick-actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.quick-actions button {
    width: 30%;
    height: 42px;
    border-radius: 26px;
    cursor: pointer;
    border: none;
    background-color: rgb(8, 155, 223);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
}

.dashboard {
    padding: 2rem 1.6rem;
    display: grid;
    grid-template-columns: 2.8fr 1fr;
    gap: 2rem;
    height: max-content;
}

.dashboard-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.projects {
    flex: 3;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 260px;
    max-width: 460px;
    padding: 2rem 1.8rem;
    background-color: white;
    box-shadow:  0px 0px 20px #dbdbdb;
    justify-content: space-between;
    border-radius: 12px;
    border-left: 12px solid rgb(252, 167, 40);
}

.project-pair {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.project-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.project-description {
    font-size: 1rem;
    color: #292929;
}

.project-icons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
}

.project-icon {
    width: 24px;
    height: auto;
    cursor: pointer;
}


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.announcements-grid {
    background-color: white;
    box-sizing: border-box;
    padding: 1.6rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.announcement-pair {
    border-bottom: 2px solid rgb(226, 226, 226);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.announcements-grid > .announcement-pair:last-child {
    border-bottom: none;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

.announcement-pair h3 {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.announcement-pair p {
    font-size: 0.75rem;
    color: #292929;
}


.trending-grid {
    background-color: white;
    box-sizing: border-box;
    padding: 2rem 1.6rem;
    border-radius: 12px;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
}

.trending-triplet {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trending-pair {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.trending-pair h3 {
    font-size: 1rem;
}

.trending-pair p {
    font-size: 0.85rem;
    color: #292929;
}